- name: Install containerd
  apt: 
    name: containerd 
    state: present 
    update_cache: yes 
- name: Ensure containerd config directly exists 
  file: 
    path: /etc/containerd 
    state: directory 
    mode: '0755'
- name: Generate default containerd config 
  shell: containerd config default > /etc/containerd/config.toml 
  #Optional: Add idempotency so it doesn't overwrite every time 
  args: 
    creates: /etc/containerd/config.toml 

- name: Restart containerd 
  systemd: 
    name: containerd 
    state: restarted 
    enabled: yes 