- name: Disable Swap 
  shell: swapoff -a 

# need a little bit explaination over this 
- name: Remove swap from fstab 
  replace: 
    path: /etc/fstab
    regexp: '^([^#].*swap.*)$'
    replace: '# \1'

- name: Load kernel modules 
  modprobe: 
    name: br_netfilter 
    state: present 
- name: Sysctl for Kubernetes 
  copy: 
    dest: /etc/sysctl.d/k8s.conf 
    content: |
      net.bridge.bridge-nf-call-ip6tables = 1
      net.bridge.bridge-nf-call-iptables = 1
      net.ipv4.ip_forward = 1
- command: sysctl --system 